body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.selector-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  > * {
    flex: 1 100%;
    padding: 10px;
  }

  .list-container {
    flex: 0 0 200px;
    margin: 0 10px 0 0;
  }

  .detail-container {
    flex: 4 0;
    margin: auto;
  }
}

.framed {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 10px;
}