body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

#result_area {
  display: none;

  #obfuscated_code {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
  }

  .result_info {
    margin-left: 3px;
  }
}

