@import 'variables';
@import 'theme';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: $font-color;
  background-color: $background-color;
}

a {
  color: #00B7FF;
}

select {
  background-color: $secondary-color;
}


table {
  td, th {
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    padding: .5em 1em;

    &:not(:first-child) {
      border-left: 1px solid #cbcbcb;
    }
  }

  th {
    background-color: darken($secondary-color, 2%);
  }

  td {
    background-color: transparent;
  }
}

.main-title {
  color: $primary-color;
}

.primary-btn {
  background-color: $primary-color;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

input[type="checkbox"], select {
  margin-left: $tiny-gap;
  margin-right: $tiny-gap;
}

.selector-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  > * {
    flex: 1 100%;
    padding: $small-gap;
  }

  .list-container {
    flex: 0 0 200px;
    margin: 0 $small-gap 0 0;
  }

  .detail-container {
    flex: 4 0;
    margin: auto;
  }
}

.framed {
  border: 1px solid gray;
  border-radius: 5px;
  padding: $tiny-gap $small-gap;
}

.clickable {
  cursor: pointer;
}

.resulting_code {
  display: block;
  width: 100%;
  max-height: 350px;
  margin: auto;
  border-radius: 5px;
  padding: $small-gap;

  background-color: $code-bgcolor;
  color: $code-fgcolor;
}

.res_entry-title {
  font-weight: bold;
}

.result_info {
  margin-left: $tiny-gap;
}

.code-preview {
  display: inline-block;
  max-width: 600px;
  max-height: 3em;

  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

#btn-process {
  margin-right: $big-gap;
}
